version: "3.8"

services:
  db:
    image: mysql:8.0
    container_name: zeneiskola_db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: rootpw
      MYSQL_DATABASE: zeneiskola_mysql
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data: